.btn-red {
    display: table;
    height: 30px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}
.btn-red:hover {
    background-color: #ff4444;
    color: #fff;
    text-decoration: none;
}